* {
    margin: 0;
    padding: 0;
    }
    
    body{
        max-width: 100%;
        max-height: 100%;
        background-color: black;
        overflow: hidden;
    }
    
.imagemFundo{
    width: 1370px;
    height: 380px;
    margin-left: 7px;
}

    a{
        text-decoration: none;
        color: white;
        display: block; /*Ocupa 100% do pai*/
        padding: 20px 20px 30px 30px; /*em cima, embaixo, esquerda, direita*/
        font-family: 'Raleway', sans-serif;
    
    }
    
    ul{
        list-style: none;
        top: 80px;
        position: absolute;
        width: 100%;
    }
    
    label img{
        width: 40px;
        height: 40px;
    }
    
    input[type="checkbox"]{
        display: none;
    }
    
    input[type="checkbox"]:checked ~ nav{  /*toda vez que o input for acionado, vai fazer um evento no elemento nav
        ou seja, irá reaparecer*/
        transform: translateX(200px); /*mexer na horizontal*/
    }

    nav ul li a:hover{
        background-color: rgb(176, 224, 230);
        color: black;
    }
    
    nav{
        background-color: rgba(77, 76, 76, 0.904);
        width: 180px;
        height: 72%;
        left: -200px; /*esconde o menu*/
        position:absolute; /*pai do ul*/
        transition: all .5s; /*transição em tudo*/
    }
    
    label{
        position: absolute;
        z-index: 1; /*sobrepos o menu*/
        cursor: pointer;
        margin-left: 7px;
    }
    
    .fas{
        margin-left: -15px;
        color: black;
    }    

    .escritaSobre{
        background-color: rgba(236, 236, 234, 0.116);
        border-radius: 15px;
        margin-left: 195px;
        margin-bottom: 20px;
        max-width: 70%;
        margin-top: 50px;
        padding: 10px;
        font-size: 20px;
        color: rgba(255, 255, 255, 0.801);   
        text-align: center;
        z-index: 0;
        font-family: 'Raleway', sans-serif;
        position: absolute;
    }
    
    h2 a{
        text-align: center;
        color: rgba(248, 220, 62, 0.726);
        font-family: 'Raleway', sans-serif;
    }

    h2 a:hover{
        background-color: rgb(176, 224, 230);
        color: black;
        z-index: 1;
        top: 0px;
    }
    
    h1{
        margin-top: 4px;
        font-size: 50px;
    }

    .imagemEu{
        width: 130px;
        height: 130px;
        margin-left: 1030px;
        margin-top: -77px;
        border-radius: 100%;
        z-index: 1;
    }

    .nome{
        font-family:'Raleway', sans-serif;
        color: white;
        font-size: 20px;
        margin-left: 780px;
        margin-top: 465px;
        bottom: 0;
    }

    .imagens{
        position: relative;
    }
    
    .divFilhaimagens{
        position: absolute;
    }

    .manchaVerm{
        width: 200px;
        height: 200px;
        top: -480px;
        margin-left: 210px;
        position: relative;
        opacity: 10%;
    }
    
    .manchaAzul{
        width: 250px;
        height: 200px;
        top: -470px;
        margin-left: 950px;
        position: relative;
        opacity: 10%; 
    }

    .manchaRoxo{
        width: 200px;
        height: 200px;
        top: -880px;
        margin-left: 800px;
        position: relative;
        opacity: 10%;
    }

    .manchaVerde{
        width: 200px;
        height: 200px;
        top: -1040px;
        margin-left: 450px;
        position: relative;
        opacity: 10%;
        z-index: 0;
    }

    .manchaLaranja{
        width: 200px;
        height: 200px;
        top: -870px;
        margin-left: -500px;
        position: relative;
        opacity: 5%;
    }

    .h1{
        margin-top: 50px;
    }

    .cadastrar{
        border: none;
        border-radius: 20px;
        width: 100px;
        height: 30px;
        background-color: rgb(255, 0, 0);
        margin-left: 1230px;
        position: absolute;
        z-index: 1;
        margin-top: 10px;
    }
    
    .divFilhaCadastrar{
        margin-top: -34px;
        margin-left: -45px;
    }
    
    .divFilhaCadastrar a{
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
        position: relative;
        top: 19px;
        margin-left: 30px;
        cursor: pointer;
        color: white;
    }
    
    


    