* {
    margin: 0;
    padding: 0;
    }
    
    body{
        max-width: 100%;
        max-height: 100%;
        background-color: black;
        overflow: hidden;
    
    }
    nav ul li a{
        text-decoration: none;
        color: white;
        display: block; /*Ocupa 100% do pai*/
        padding: 20px 20px 30px 30px; /*em cima, embaixo, esquerda, direita*/
        font-family: 'Raleway', sans-serif;
    }

    .background{
        background-color: rgba(236, 236, 234, 0.116);
        border-radius: 15px;
        margin-left: 180px;
        margin-bottom: 20px;
        width: 1000px;
        height: 200px;
        margin-top: 50px;
        padding: 10px;
        font-size: 20px;
        color: rgba(255, 255, 255, 0.801);   
        text-align: center;
        font-family: 'Raleway', sans-serif;
        position: absolute;
        cursor: default;
    }
    
    
    nav ul{
        list-style: none;
        top: 50px;
        position: absolute;
        width: 100%;
    }
    
    label img{
        width: 40px;
        height: 40px;
        margin-top: -5px;
        cursor: pointer;
    }
    
    input[type="checkbox"]{
        display: none;
    }
    
    input[type="checkbox"]:checked ~ nav{  /*toda vez que o input for acionado, vai fazer um evento no elemento nav
        ou seja, irá reaparecer*/
        transform: translateX(200px); /*mexer na horizontal*/
    }
    
    nav{
        background-color: rgba(77, 76, 76, 0.904);
        width: 177px;
        height: 64.7%;
        left: -200px; /*esconde o menu*/
        position:absolute; /*pai do ul*/
        transition: all .5s; /*transição em tudo*/
    }
    
    nav ul li a:hover{
        background-color: rgb(176, 224, 230);
        color: black;
    }
    
    label{
        position: absolute;
        z-index: 1; /*sobrepos o menu*/
        margin-left: 7px;
    }
    
    .fas{
        margin-left: -15px;
        color: black;
    }

    h1{
      font-size: 50px;
      margin-top: 10px;
      z-index: 1px;
    }

    .gmail{
        width: 60px;
        height: 65px;
        margin-left: 172px;
        margin-top: 100px;
        position: relative;
        z-index: 1;
        
    }

    .nomeGmail{
        color: white;
        font-size: 20px;
        font-family: 'Raleway', sans-serif;
        margin-left: 348px;
        margin-top: -0px;
    }

    .github{
        width: 65px;
        width: 65px;
        margin-left: 325px;
        top: -48px;
        position: relative;
        
    }

    .nomeGitHub{
        color: white;
        font-size: 20px;
        font-family: 'Raleway', sans-serif;
        margin-left: 653px;
        margin-top: -92px;
        position: relative;

    }

    .linkedlin{
        width: 80px;
        height: 80px;
        margin-left: 460px;
        top: -60px;
        position: relative;
        z-index: 1;
    }

    .nomeLinkedlin{
        color: white;
        font-size: 20px;
        font-family: 'Raleway', sans-serif;
        margin-left: 920px;
        margin-top: -125px;
        position: relative;

    }

    .perfis li{
        list-style: none;
        padding: 0%;
    }

    .perfis a{
        max-width: 3%;
        max-height: 3%;
    }

    .manchaMarrom{
        width: 200px;
        height: 200px;
        top: -30px;
        margin-left: 100px;
        position: relative;
        opacity: 15%;
    }
    
    .manchaColorida{
        width: 200px;
        height: 200px;
        top: -120px;
        margin-left: 500px;
        position: relative;
        opacity: 10%;
    }

    .manchaAmar{
        width: 200px;
        height: 200px;
        top: -370px;
        margin-left: 300px;
        position: relative;
        opacity: 7%;
    }

    .manchaRosa{
        width: 200px;
        height: 200px;
        top: -400px;
        margin-left: 570px;
        position: relative;
        opacity: 7%;
    }

    
    .manchaRoxo{
        width: 200px;
        height: 200px;
        top: -420px;
        margin-left: 500px;
        position: relative;
        opacity: 7%;
    }

    .manchaVerde{
        width: 200px;
        height: 200px;
        top: -690px;
        margin-left: -610px;
        position: relative;
        opacity: 10%;
    }

    .recado{
        font-size: 40px;
        font-family: 'Raleway', sans-serif;
        color: white;
        background-color: rgba(248, 214, 24, 0.664);
        width: 1005px;
        border-radius: 20px;
        text-align: center;
        top: -400px;
        position: relative;
        margin-left: 185px;
        
    }

    .nomeUsuario{
        background-color: rgba(236, 236, 234, 0.116);
        border-radius: 20px;
        width: 300px;
        height: 30px;
        border: none;
        position: relative;
        top: -360px;
        margin-left: 10px;
        color: white;
        font-size: 20px;
        font-family: 'Raleway', sans-serif;
        padding: 7px;

    }

   .nome{
       color: white;
       font-size: 20px;
       font-family: 'Raleway', sans-serif;
       top: -360px;
       position: relative;
       margin-left: 240px;
   }

   .mensagemUsuario{
    background-color: rgba(236, 236, 234, 0.116);
    border-radius: 20px;
    width: 300px;
    height: 150px;
    border: none;
    position: relative;
    top: -470px;
    color: white;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    padding: 7px;
    float: right;
    margin-right: 350px;

}

   .mensagem{
    color: white;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    top: -480px;
    position: relative;
    margin-left: 170px;
    resize: none;
}

.inputs button{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: none;
    color: black;
    background-color: rgba(250, 250, 31, 0.541);
    text-align: center;
    cursor: pointer;
    position: relative;
    top: -307px;
    margin-left: 130px;
    font-family: 'Raleway', sans-serif;
}

.cadastrar{
    border: none;
    border-radius: 20px;
    width: 100px;
    height: 30px;
    background-color: rgb(255, 0, 0);
    margin-left: 1230px;
    position: absolute;
    z-index: 1;
    margin-top: -50px;
}

.divFilhaCadastrar{
    margin-top: -14px;
    margin-left: -14px;
}

.divFilhaCadastrar a{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    position: relative;
    top: 19px;
    margin-left: 30px;
    cursor: pointer;
    color: white;
}


