*{
    margin-left: 0%;
    padding: 0%;
}

body{
    max-width: 100%;
    height: 100%;
    background-color: black;
}

a{
    text-decoration: none;
    color: white;
    display: block; /*Ocupa 100% do pai*/
    padding: 20px 20px 30px 30px; /*em cima, embaixo, esquerda, direita*/
    font-family: 'Raleway', sans-serif;

}

ul{
    list-style: none;
    top: 50px;
    position: absolute;
    width: 100%;
}

label img{
    width: 40px;
    height: 40px;
}

input[type="checkbox"]{
    display: none;
}

input[type="checkbox"]:checked ~ nav{  /*toda vez que o input for acionado, vai fazer um evento no elemento nav
    ou seja, irá reaparecer*/
    transform: translateX(200px); /*mexer na horizontal*/
}

nav{
    background-color: rgba(253, 135, 0, 0.747);
    width: 177px;
    height: 67%;
    left: -200px; /*esconde o menu*/
    position:absolute; /*pai do ul*/
    transition: all .5s; /*transição em tudo*/
}

nav ul li a:hover{
    background-color: rgb(176, 224, 230);
    color: black;
}

label{
    position: absolute;
    z-index: 1; /*sobrepos o menu*/
    cursor: pointer;
    margin-left: 7px;
}

.fas{
    margin-left: -15px;
    color: black;
}

.far{
    margin-left: -15px;
    color: black;
}

.gif{
    width: 900px;
    height: 380px;
    left: 100px;
    position: relative;
}

.nomeUsuario{
    font-family: 'Raleway', sans-serif;
    margin-top: 0px;
    position: relative;
    color: white;
    margin-left: 450px;
}


.content{
    display: flex;
    justify-content: flex-start;
    width: 50vh;
    height: 45vh;
    background-color: rgba(121, 121, 118, 0.603);
    box-shadow: 4px 4px 4px 4px  rgba(0, 0, 0, 0.281);
    border-radius: 10px;
    margin-left: 100px; 
    margin-top: 30px; 
    position: absolute;
    z-index: 9999;
    max-width: 100%;
    -moz-animation: all 0.3s;
    -webkit-animation: all 0.3s;
    transition: all 0.3s;
}

.content:hover{
    -moz-animation: scale(1.1);
    -webkit-animation: scale(1.1);
    transform: scale(1.1);
}

.content-2{
    width: 50vh;
    height: 45vh;
    background-color: rgba(121, 121, 118, 0.603);
    box-shadow: 4px 4px 4px 4px  rgba(0, 0, 0, 0.281);
    border-radius: 10px;
    margin-left: 500px; 
    margin-top: 30px; 
    position: absolute;
    z-index: 9999;
    max-width: 100%;
    -moz-animation: all 0.3s;
    -webkit-animation: all 0.3s;
    transition: all 0.3s;
}

.content-2:hover{
    -moz-animation: scale(1.1);
    -webkit-animation: scale(1.1);
    transform: scale(1.1);
}

.content-3{
    width: 50vh;
    height: 45vh;
    background-color: rgba(121, 121, 118, 0.603);
    box-shadow: 4px 4px 4px 4px  rgba(0, 0, 0, 0.281);
    border-radius: 10px;
    margin-left: 900px; 
    margin-top: 30px; 
    position: absolute;
    z-index: 9999;
    max-width: 100%;
    -moz-animation: all 0.3s;
    -webkit-animation: all 0.3s;
    transition: all 0.3s;
}

.content-3:hover{
    -moz-animation: scale(1.1);
    -webkit-animation: scale(1.1);
    transform: scale(1.1);
}

.content-4{
    width: 50vh;
    height: 45vh;
    background-color: rgba(121, 121, 118, 0.603);
    box-shadow: 4px 4px 4px 4px  rgba(0, 0, 0, 0.281);
    border-radius: 10px;
    margin-left: 300px; 
    margin-top: 360px; 
    position: absolute;
    z-index: 9999;
    max-width: 100%;
    -moz-animation: all 0.3s;
    -webkit-animation: all 0.3s;
    transition: all 0.3s;
}

.content-4:hover{
    -moz-animation: scale(1.1);
    -webkit-animation: scale(1.1);
    transform: scale(1.1);
}

.content-5{
    width: 50vh;
    height: 45vh;
    background-color: rgba(121, 121, 118, 0.603);
    box-shadow: 4px 4px 4px 4px  rgba(0, 0, 0, 0.281);
    border-radius: 10px;
    margin-left: 700px; 
    margin-top: 360px; 
    position: absolute;
    z-index: 9999;
    max-width: 100%;
    -moz-animation: all 0.3s;
    -webkit-animation: all 0.3s;
    transition: all 0.3s;
}

.content-5:hover{
    -moz-animation: scale(1.1);
    -webkit-animation: scale(1.1);
    transform: scale(1.1);
}

.card{
    padding: 0px;
}

.title{
    text-align: center;
    background-color: rgba(255, 255, 0, 0.596);
    border-radius: 5px;
    color: black;
    margin-top: -5px;
}

.title-2{
    text-align: center;
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 5px;
    color: black;
    margin-top: -5px;  
}

.title-3{
    text-align: center;
    background-color: rgba(21, 255, 0, 0.5);
    border-radius: 5px;
    color: black;  
    margin-top: -5px;
}

.title-4{
    text-align: center;
    background-color: rgba(248, 41, 75, 0.623);
    border-radius: 5px;
    color: black;  
    margin-top: -5px;
}

.title-5{
    text-align: center;
    background-color: rgba(0, 183, 255, 0.5);
    border-radius: 5px;
    color: black;  
    margin-top: -5px;
}

.text_top{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    margin-left: 50px;
    position: relative;
    top: -5px;
}

.text_top-2{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    margin-left: 60px;
    position: relative;
    top: -5px;
}

.text_bottom{
    top: -20px;
    text-align:center;
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    margin-left: -5px;
}

.mediaCard img{
    margin-left: 50px;
    position: relative;
    top: -10px;
}

.mediaCard-4 img{
    margin-left: 50px;
    position: relative;
    margin-top: 0px;
}

.mediaCard-5 img{
    margin-left: 40px;
    position: relative;
    margin-top: 5px;
}

.mediaCard-3 img{
    margin-left: 50px;
    position: relative;
    margin-top: 0px;
}

.text_bottom-4{
    top: 0px;
    text-align:center;
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    margin-left: -5px;
}

.text_bottom-3{
    top: 0px;
    text-align:center;
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    margin-left: -5px;
}

.text_bottom-5{
    top: -5px;
    text-align:center;
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    margin-left: -5px;
}

.imagensMaos{
    position: relative;
}

.conteudoImagens{
    position: absolute;
}

.redHand{
    width: 200px;
    height: 200px;
    margin-top: 400px;
    margin-left: 850px;
    transform: rotate(30deg);
    position: relative;
    opacity: 10%;
}

.blueHand{
    width: 250px;
    height: 200px;
    top: -400px;
    margin-left: -800px;
    position: relative;
    opacity: 7%; 
}

.yellowHand{
    width: 250px;
    height: 200px;
    top: 0px;
    margin-left: -240px;
    transform: rotate(-40deg);
    position: relative;
    float: top;
    opacity: 3%; 
}

.greenHand{
    width: 200px;
    height: 200px;
    top: -370px;
    transform: rotate(40deg);
    margin-left: 340px;
    position: relative;
    float: top;
    opacity: 10%; 
}

.orangeHand{
    width: 200px;
    height: 200px;
    top: -470px;
    transform: rotate(-50deg);
    margin-left: 300px;
    position: relative;
    float: top;
    opacity: 10%; 
}

.pinkHand{
    width: 200px;
    height: 200px;
    top: -400px;
    transform: rotate(-20deg);
    margin-left: 290px;
    position: relative;
    float: top;
    opacity: 10%; 
}

.purpleHand{
    width: 200px;
    height: 200px;
    top: -660px;
    transform: rotate(-80deg);
    margin-left: 250px;
    position: relative;
    float: top;
    opacity: 7%; 
}

.handColorida{
    width: 300px;
    height: 300px;
    top: -850px;
    margin-left: 170px;
    position: relative;
    float: top;
    opacity: 7%; 
}


.handColorida2{
    width: 250px;
    height: 250px;
    top: -870px;
    margin-left: -655px;
    transform: rotate(-180deg);
    position: relative;
    float: top;
    opacity: 7%; 
}

.handColorida3{
    width: 300px;
    height: 300px;
    top: -550px;
    margin-left: 0px;
    transform: rotate(90deg);
    position: relative;
    opacity: 10%; 
}

.conteudos_novos{
    font-family:  'Raleway', sans-serif;
}

h2{
    cursor: pointer;
    font-family: 'Raleway';
}

