.titleCaricatura{
    background-color: rgba(248, 41, 75, 0.623);
    border-radius: 10px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    top: 10px;
    position: relative;
    color: white;
    border-radius: 10px;
    width: 300px;
    left: 520px;
}